/* components/academic-pathway.module.css */
.academicPathway {
    background-color: #ffffff;
    /* White background */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Shadow for depth */
    padding: 1rem;
    margin-top: 1rem;
}

.course {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    background-color: #f5f5f5;
    /* Very light gray */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.termLabel {
    background-color: #e1bee7;
    /* Light purple */
    color: #673ab7;
    /* Dark purple text to stand out */
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    font-size: 0.8rem;
}