/* components/header.module.css */
.header {
    background-color: #673ab7;
    /* Purple background */
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.searchInput {
    border: 2px solid #ffffff;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    outline: none;
    color: #ffffff;
    background: transparent;
    margin-right: 1rem;
}

.searchInput::placeholder {
    color: #dddddd;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 1.2rem;
    margin-left: 1rem;
    cursor: pointer;
}